* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: papayawhip;
  background-color: palevioletred;
}

input,
button {
  padding: 0.25em 0.5em;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: 2px solid papayawhip;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

input::placeholder {
  color: inherit;
}

input:focus {
  outline: none;
  color: palevioletred;
  background-color: papayawhip;
}

button:hover {
  color: palevioletred;
  background-color: papayawhip;
}

.container {
  /*max-width: 40em;
  margin: 0 auto;*/
  height: 100%;
  padding: 1em;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hidden {
  position:absolute;
  top: -10000px;
  left:0;
  display: none;
}

.remoteVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.localVideo {
  position: absolute;
  width: 6em;
  height: auto;
  bottom: 1em;
  right: 1em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.form {
  display: flex;
  width: 20em;
  height: 2em;
}

.form__input {
  border-right: none;
  flex: 1;
}

.endCall {
  position: absolute;
  bottom: 1em;
  left: 1em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
